@import url(../../tailwind.config.js);


#conferenceRoom {
    grid-area: conferenceRoom;
}

#serversRoom {
    grid-area: serversRoom;
}

#securityRoom {
    grid-area: securityRoom;
}

#vault {
    grid-area: vault;
}

#staffRoom {
    grid-area: staffRoom;
}

#reception {
    grid-area: Reception;
}

.rooms {
    display: grid;
    width: 100%;
    background: url("../images/rooms.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    grid-template-areas:
        "conferenceRoom conferenceRoom . serversRoom securityRoom"
        "Reception Reception . . ."
        "Reception Reception . staffRoom vault";
}

@media (max-width: 768px) {
    .rooms {
        background: none;
        grid-template-areas:
         'conferenceRoom serversRoom securityRoom'
         'staffRoom Reception vault';
        ;
    }
}