@import url(../../tailwind.config.js);

* {
    transition: all 0.3s ease-in-out;
}

#conferenceRoom {
    grid-area: conferenceRoom;
}

#serversRoom {
    grid-area: serversRoom;
}

#securityRoom {
    grid-area: securityRoom;
}

#vault {
    grid-area: vault;
}

#staffRoom {
    grid-area: staffRoom;
}

#reception {
    grid-area: Reception;
}

/* #conferenceRoom , #serversRoom , #securityRoom , #vault , #staffRoom{
    height: 150px;
} */

/* .room {
    width: 200px;
} */

.rooms {
    display: grid;
    width: 100%;
    grid-template-columns:
        minmax(100px, 1.2fr) minmax(100px, 1.2fr) minmax(100px, 1fr) minmax(100px, 1.4fr) minmax(100px, 1.4fr);
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    z-index: 0;
    background: url("../images/rooms.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    grid-template-areas:
        "conferenceRoom conferenceRoom . serversRoom securityRoom"
        "Reception Reception . . ."
        "Reception Reception . staffRoom vault";
}

.room {
    z-index: 3;
}

.rooms::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(129, 129, 129, 0.409);
}

@media (max-width: 768px) {
    .room{
        padding-bottom: 10px;
    }
    .rooms {
         grid-template-columns: 1fr;
        grid-template-rows: auto;
        background: none;
        grid-template-areas:
            'conferenceRoom serversRoom securityRoom'
            'staffRoom Reception vault';
        ;
    }
}